@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #75a743;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pixel-operator), sans-serif;
}

.slider-container:hover .slider {
  animation-play-state: paused;
}

.slider {
  animation: slide 10s linear infinite;
}

.card-hover:hover {
  animation: card-hover 2s ease-in-out infinite;
}

.card-hover:hover::after {
  animation: card-hover 2s ease-in-out infinite;
}

@keyframes card-hover {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fly {
  0%, 100% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

.fly {
  animation: fly 4s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
